<div id="wrapper">
    <input type="text" ng-model="search" class="search-query" id="projects_search" placeholder="Search">
    <table>
        <thead>
        <tr>
            <th>Проект</th>
            <!--<th>Заголовок</th>-->
            <th><a href="#/new_task">Новое задание</i></a></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="task in tasks | filter:search | orderBy:'name'">
            <td><a style="color: #151515" ng-href="{{project.site}}" target="_blank">{{task.title}}</a></td>
            <td></td>
            <td>
                <a ng-href="#/view_task/{{task.id}}">просмотр</a>
            </td>
            <td>
                <a ng-href="#/edit_task/{{task.id}}">редактировать</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>